= component_block (options[:confirmation] ? "confirmable_button" : "button"), |
  "button.button",                                                            |
  {                                                                           |
    attr_map: "lockable,disabled,confirmation,prevent_native_click_event",    |
    type:     "submit",                                                       |
    prevent_native_click_event: false,                                        |
    disabled:                   options[:disabled],                           |
    attr: "caption"                                                           |
  }, options.except(:caption, :value) do                                      |

  - if block
    = capture(&block)
  - else
    = options[:caption] || options[:value]
