= component_block :dialog_window, ".modalWindow", {                           |
    attr_map:  "close_on_escape,close_on_background_click,show_close_button"  |
  }, options do                                                               |

  .modal{ aria: { hidden: "true" } }
    .modalDialog
      = image_tag "close_modal_window.svg", class: "close", data: { component_part: "close" }
      = component_part :content do
        = capture(&block) if block
      = component_part :button_container, ".buttonContainer"
