= component_block :editable_select, ".editableSelect", {                       |
    attr_map: 'disabled,name,fetch_url,allow_custom_value,' +                  |
      'query_param_name,sort_on_fetch,spinner_el,'          +                  |
      'separators_below,top_values,'                        +                  |
      'hide_null_option_after_option_selected',                                |
    spinner_el: ".spinner"                                                     |
  }, options.except(:name, :selected, :collection, :placeholder, :tabindex) do |

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  .selectBoxAndOptions

    = component_part :selectbox, ".selectBox" do
      %input{type: "hidden", name: options[:name], value: (get_value_for_field_name(options) || select_component_get_selected_value(options, :input)), data: { component_attr: "input_value", component_part: "input" }}
      %input{type: "text", class: "editableSelect", placeholder: options[:placeholder], tabindex: options[:tabindex], data: { component_attr: "display_value", component_part: "display_input", placeholder: options[:placeholder] }}
      = component_part :arrow, ".arrow" do
        = image_tag "arrow_down.svg"
      = image_tag "spinner_dark.svg", class: "spinner"

    = component_part :options_container, ".optionsContainer" do
      - prepare_select_collection(options[:collection], blank_option: options[:_has_blank]).each do |k,v|
        = component_part :option, ".option", data: { option_value: k } do
          = v

  = component_part :option_template, ".option"
  = render partial: "webface_components/field_hints", locals: { options: options }
