.hintsContainer
  .errorHint
    = component_attr :validation_errors_summary, ".validationErrors", style: ("display: block;" unless get_error_for_field_name(options).blank?) do
      - if options[:model] && errors = get_error_for_field_name(options)
        = errors.join("; ")
  .hint= options[:_hint]
