= component_block :modal_window, ".modalWindow", {                           |
    attr_map:  "close_on_escape,close_on_background_click,show_close_button" |
  }, options do                                                              |

  .modal{ aria: { hidden: "true" } }
    = component_part :content, ".modalDialog" do
      = image_tag "close_modal_window.svg", class: "close", data: { component_part: "close" }
      = capture(&block) if block
