= component_block :numeric_form_field, ".field.numeric", { |
    attr_map: "max_length"                                 |
  }, options.except(:tabindex, :name, :value) do           |

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  .fieldAndHint
    = component_part :value_holder, "input", {                         |
        type: "text",                                                  |
        value: get_value_for_field_name(options),                      |
        attr_map: "name:name,disabled:disabled,value:value"            |
      }, options.slice(:name,:disabled,:tabindex,:autocomplete,:model) |
    = options[:suffix]
    = render partial: "webface_components/field_hints", locals: { options: options }
