= component_block :radio_button, "div", {                                                    |
    class: (options.delete(:class) || "") +                                                  |
      " radio #{"errors" if options[:model] && !get_error_for_field_name(options).blank? }", |
    attr_map: "disabled,value",                                                              |
    value: get_value_for_field_name(options)                                                 |
  }, options.except(:name, :disabled, :selected, :collection) do |

  .container
    - prepare_select_collection(options[:collection] || get_value_for_field_name(options)).each do |k,v|
      .item
        = component_part :option, "input", {               |
          type: "radio",                                   |
          id: "radio_#{options[:_radio_options_id]}_#{k}", |
          value: k,                                        |
          checked: options[:selected] || false,            |
          attr_map: "name:name"                            |
        }, options.slice(:name,:disabled)                  |

        %label{ for: "radio_#{options[:_radio_options_id]}_#{k}" }
          = v
        - unless options[:_popup_hint].blank?
          = component :hint_with_trigger, i18n: options[:_popup_hint].delete_at(0)
  = render partial: "webface_components/field_hints", locals: { options: options }


