= component_block :select, ".select", {                                    |
    attr_map: 'disabled,name,fetch_url,separators_below,top_values,'     + |
      'sort_on_fetch,spinner_el,hide_null_option_after_option_selected,' + |
      'hide_null_option_display_value',                                    |
      spinner_el: ".spinner"                                               |
  }, options.except(:selected, :collection) do                             |

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  %input{type: "hidden", name: options[:name], value: (get_value_for_field_name(options) || select_component_get_selected_value(options, :input)), data: { component_attr_map: "input_value:value" }}

  .selectBoxAndOptions

    = component_part :selectbox, ".selectBox" do
      = component_attr "display_value", ".value" do
        = (select_component_get_selected_value(options, :display) if select_component_get_selected_value(options).blank?)
      = component_part :arrow, ".arrow" do
        = image_tag "arrow_down.svg"
      = image_tag "spinner_dark.svg", class: "spinner"

    = component_part :options_container, ".optionsContainer" do
      - options[:_has_blank] = true if options[:_has_blank].nil?
      - prepare_select_collection(options[:collection], blank_option: options[:_has_blank]).each do |k,v|
        = component_part :option, ".option", { option_value: k, attr_map: "option_value" } do
          = v

  = component_part :option_template, ".option"
  = render partial: "webface_components/field_hints", locals: { options: options }
