= component_block :form_field, ".field.textarea", {  |
    attr_map: "disabled"                             |
  }, options.except(:name, :maxlength, :tabindex) do |

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  %textarea(data-component-part="value_holder" data-component-attr-map="name:name,disabled:disabled"){ |
    name:     options[:name],                                                                          |
    disabled: options[:disabled],                                                                      |
    tabindex: options[:tabindex],                                                                      |
    maxlength: options[:maxlength]                                                                     |
  }= get_value_for_field_name(options)                                                                 |


  = render partial: "webface_components/field_hints", locals: { options: options }
