= component_block :form_field, ".field.text", options.except(:name, :tabindex, :value) do

  - if options[:_label]
    %label
      = options[:_label]
      - unless options[:_popup_hint].blank?
        = component :hint_with_trigger, i18n: options[:_popup_hint]

  = component_part :value_holder, "input", {                                                |
    type: options[:type] || "text",                                                         |
      value: get_value_for_field_name(options),                                             |
      attr_map: "name:name,disabled:disabled"                                               |
    }, options.slice(:tabindex,:name,:autofocus,:disabled,:maxlength,:autocomplete, :model) |

  = options[:_suffix]
  = render partial: "webface_components/field_hints", locals: { options: options }
