header .headerButton {
  -moz-box-shadow: 1px 2px 6px -2px #006aa3;
  -webkit-box-shadow: 1px 2px 6px -2px #006aa3;
  box-shadow: 1px 2px 6px -2px #006aa3;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e1f5fe));
  background:-moz-linear-gradient(top, #ffffff 5%, #e1f5fe 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #e1f5fe 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #e1f5fe 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #e1f5fe 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #e1f5fe 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1f5fe',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #039ae5;
  display:inline-block;
  cursor:pointer;
  font-weight:bold;
  padding: 0.3em 1em 0.5em 1em;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;

  &:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #bcd5e0));
    background:-moz-linear-gradient(top, #ffffff 5%, #bcd5e0 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #bcd5e0 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #bcd5e0 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #bcd5e0 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #bcd5e0 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#bcd5e0',GradientType=0);
    background-color:#ffffff;
  }
}

%disabled {
  cursor: default;
  -webkit-box-shadow: 0px 0px 0px 0px #d9d9d9, 0px 0px 0px 0px #d9d9d9 inset;
  -moz-box-shadow: 0px 0px 0px 0px #d9d9d9, 0px 0px 0px 0px #d9d9d9 inset;
  box-shadow: 0px 0px 0px 0px #d9d9d9, 0px 0px 0px 0px #d9d9d9 inset;
  text-shadow: 0px 0px 0px #d9d9d9;
  color: #fff;
  border-color: #ccc;
  background: #d9d9d9;
  &:hover:not(.locked):not(.disabled) {
    background: #d9d9d9;
  }
}

.button, button {
  font-family: Lato, Arial;
  display: inline-block;
  background: #3176b1;
  -webkit-box-shadow: 0px 3px 0px 0px #1b609a, 0px -1px 0px 0px #1b609a inset, 0px 2px 5px 0px #1b609a;
  -moz-box-shadow: 0px 3px 0px 0px #1b609a, 0px -1px 0px 0px #1b609a inset, 0px 2px 5px 0px #1b609a;
  box-shadow: 0px 3px 0px 0px #1b609a, 0px -1px 0px 0px #1b609a inset, 0px 2px 5px 0px #1b609a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0s 0;
  -moz-transition: all 0s 0;
  -o-transition: all 0s 0;
  transition: all 0s 0;
  text-shadow: 0px 1px 0px #181f25;
  border-color: #1b609a;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  font-weight: bold;
  font-size: 110%;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;

  &:hover:not(.locked):not(.disabled) {
    background: #316da0;
    &.locked { background: #316da0; }
  }

  &:active, &:focus { outline-width: 0; }
  &:active:not(.locked):not(.disabled) {
    background: #1b609a;
    -webkit-box-shadow: 0px 3px 0px 0px #3176b1, 0px -1px 0px 0px #1b609a inset, 0 0 0 0 #fff;
    -moz-box-shadow: 0px 3px 0px 0px #3176b1, 0px -1px 0px 0px #1b609a inset, 0 0 0 0 #fff;
    box-shadow: 0px 3px 0px 0px #3176b1, 0px -1px 0px 0px #1b609a inset, 0 0 0 0 #fff;
    text-shadow: 0px -1px 0px #316496;
    border-color: #1b609a;
  }

  &.disabled, &[disabled=disabled] {
    @extend %disabled;
  }

  &.locked {
    opacity: 0.7; cursor: default; text-shadow: 0 0 0 transparent; position: relative;
    &::before { content: ''; position: absolute; width: 0.7rem; height: 0.7rem; background: asset-url("ajax_indicators/rolling.svg"); background-size: contain; background-repeat: no-repeat; left: 0.7rem; top: 0.7rem; }
    &.extraSmall::before { left: 0.5rem; top: 0.45rem; width: 0.5rem; height: 0.5rem; }
    &.small::before { left: 0.5rem; top: 0.5rem; }
    &.big::before { top: 1rem; left: 0.5rem; width: 1rem; height: 1rem; }
  }

  &.green {

    background: #68ae35; border-color: #3c9a1b; color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #3c9a1b, 0px -1px 0px 0px #3c9a1b inset, 0px 2px 5px 0px #3c9a1b;
    -moz-box-shadow: 0px 3px 0px 0px #3c9a1b, 0px -1px 0px 0px #3c9a1b inset, 0px 2px 5px 0px #3c9a1b;
    box-shadow: 0px 3px 0px 0px #3c9a1b, 0px -1px 0px 0px #3c9a1b inset, 0px 2px 5px 0px #3c9a1b;

    text-shadow: 0px 1px 0px #32422c;

    &:hover:not(.locked):not(.disabled) {
      background: #56a031;
      &.locked { background: #56a031; }
    }

    &:active:not(.locked):not(.disabled) {
      background: #519a1b;
      -webkit-box-shadow: 0px 3px 0px 0px #68ae35, 0px -1px 0px 0px #3c9a1b inset, 0 0 0 0 #fff;
      -moz-box-shadow: 0px 3px 0px 0px #68ae35, 0px -1px 0px 0px #3c9a1b inset, 0 0 0 0 #fff;
      box-shadow: 0px 3px 0px 0px #68ae35, 0px -1px 0px 0px #3c9a1b inset, 0 0 0 0 #fff;
      text-shadow: 0px -1px 0px #6F9631;
      border-color: #519a1b;
    }

    &.disabled, &[disabled=disabled], &:disabled:hover {
      @extend %disabled;
    }

  }

  &.red {

    background: #C21B1B; border-color: #9A1B1B; color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px #9A1B1B, 0px -1px 0px 0px #9A1B1B inset, 0px 2px 5px 0px #9A1B1B;
    -moz-box-shadow: 0px 3px 0px 0px #9A1B1B, 0px -1px 0px 0px #9A1B1B inset, 0px 2px 5px 0px #9A1B1B;
    box-shadow: 0px 3px 0px 0px #9A1B1B, 0px -1px 0px 0px #9A1B1B inset, 0px 2px 5px 0px #9A1B1B;

    text-shadow: 0px 1px 0px #422C2C;

    &:hover:not(.locked):not(.disabled) {
      background: #AB2727;
      &.locked { background: #BD2B2B; }
    }

    &:active:not(.locked):not(.disabled) {
      background: #9A1B1B;
      -webkit-box-shadow: 0px 3px 0px 0px #C21B1B, 0px -1px 0px 0px #9A1B1B inset, 0 0 0 0 #fff;
      -moz-box-shadow: 0px 3px 0px 0px #C21B1B, 0px -1px 0px 0px #9A1B1B inset, 0 0 0 0 #fff;
      box-shadow: 0px 3px 0px 0px #C21B1B, 0px -1px 0px 0px #9A1B1B inset, 0 0 0 0 #fff;
      text-shadow: 0px -1px 0px #963131;
      border-color: #9A1B1B;
    }

    &.disabled, &[disabled=disabled], &:disabled:hover {
      @extend %disabled;
    }

  }

}

a.button {
  text-decoration: none; &:visited, &:active { color: #fff; }
}

.button, button {
  font-size: 1.1rem; padding: 0.5rem 1.8rem; white-space: nowrap; line-height: 100%;
  &.big   { font-size: 1.7rem; padding: 0.65rem 1.9rem; }
  &.small { font-size: 0.8rem; padding: 0.4rem 1.6rem; }
  &.extraSmall { font-size: 0.7rem; padding: 0.3rem 1.4rem; }
}

button[data-component-template=ButtonComponent] { display: none; }

@media screen and (max-width: 850px) {
  .button, button {
    font-size: 0.8rem; padding: 0.4rem 1.6rem;
    &.big   { font-size: 1.1rem; padding: 0.5rem 1.8rem; }
    &.small { font-size: 0.7rem; padding: 0.3rem 1.4rem; }
    &.locked {
      &::before { left: 0.5rem; top: 0.4rem; }
      &.extraSmall::before { top: 0.4rem; }
      &.small::before { top: 0.4rem; width: 0.5rem; height: 0.5rem; }
      &.big::before { top: 0.5rem; }
    }
  }
}
