@mixin text-field-with-errors {
  background-color: $webface_colors_pink; border: solid 1px $webface_colors_red;
  @include inset-box-shadow(#F29C9C, 2px, 2px, 2px, 0px);
}

form, .form {

  margin: 0 0 0 0; padding: 0 0 0 0;
  abbr { display: none; }
  label { display: block; clear: both; opacity: 1; margin-left: 0.1em; font-size: 1rem; color: #7d8b91; }
  label span.helper { font-size: 90%; color: $webface_colors_link; border-bottom: dotted 1px $webface_colors_link; cursor: pointer; margin-left: 1em; }

  .hint { display: block; font-size: 80%; color: $webface_colors_gray; margin-top: 0.5em; line-height: 120%; font-weight: normal; }

  .radio {
    .container { display: flex; align-items: center; flex-wrap: nowrap; }
    .item { margin-right: 1em; display: flex; align-items: center; flex-wrap: nowrap; }
    input { margin-right: 0.5em; cursor: pointer; }
    label { cursor: pointer; color: $webface_colors_text; }
    .hintsContainer { margin-top: 0.5em; margin-left: 0.3em; }
    .hintTrigger { margin-left: 0.5em; margin-top: -0.1em; float: right; }
  }

  .checkboxContainer {
    display: flex; flex-wrap: wrap; align-content: flex-start; align-items: flex-start;
    input[type=checkbox] { cursor: pointer; margin: 0 0.5em 0 0; }
    label { margin-left: 0.2em; color: $webface_colors_text; cursor: pointer; width: 90%; font-size: 99%; margin-top: 0.3em;  }
    .hintTrigger { margin-left: 0.3em; float: right; }
    .hintsContainer { width: 100%; padding-left: 2.5em; }
  }

  .field.text, .field.numeric {
    &.big input { font-size: 2rem; height: 2.5rem;  }
    .hintTrigger { margin-top: 0.2em; float: right; position: relative; left: -1.2em; }
    &.short input { width: 5em; }
  }

  span.error, .errorHint .validationError { display: block; color: $webface_colors_red; margin: 0.1em 0 1em 0; font-weight: normal; }
  .field_with_hint span.error { margin-top: 0; }

  .form-actions { margin-top: 1em; }

  // Dartifact
  .hintsContainer     { margin-top: 0; }
  .field.errors .validationErrors { display: block; font-size: 1rem; }
  .errorHint          { min-height: 1px; }
  .textarea {
    .hintTrigger { position: relative; top: 0.2em; }
    width: 100%;
  }

  .formBlock  {
    font-size: 110%; padding: 1.5em;
    h1,h2,h3,h4 { margin-bottom: 1em; }
    .titleHint { font-size: 75%; font-weight: normal; }
    .line { display: flex; align-items: center; }
  }

}


input[type=text], input[type=password], input[type=number], input[type=email], input.string, textarea {

  width: 100%; border-radius: 5px;
  background-color: transparent;; color: $webface_colors_text; padding: 0.45rem 0.4rem 0.35rem 0.4rem;

  // Use margin insted of padding to get the same appearance on Firefox and Chrome
  // Otherwise, Firefox will cut letters that higher than input's internal height
  &.editableSelect { height: 100%; padding: 0 0 0 0.4rem; }

  &:not(.editableSelect) {

    border: solid 1px #c4daec; font-size: 0.8rem; cursor: pointer;
    @include inset-box-shadow(#ebf2f8, 2px, 2px, 2px, 0px);

    &:focus {
      border: solid 1px #a6b6c4; outline-width: 0;
      @include inset-box-shadow(#d5e9fb, 2px, 2px, 2px, 0px);
    }

    &:hover {
      outline-width: 0; background-color: #fff; border: solid 1px #adbfcf;
      @include inset-box-shadow(#d5e9fb, 2px, 2px, 2px, 0px);
    }

    &.error { @include text-field-with-errors }

  }

  &[disabled] {
    border: solid 1px #E1EAED; cursor: default;
    @include inset-box-shadow(#fff, 0px, 0px, 0px, 0px);
    &:hover {
      outline-width: 0; border: solid 1px #E1EAED;
      @include inset-box-shadow(#fff, 0px, 0px, 0px, 0px);
    }
  }

}

textarea { background-color: #fff; }

div.input {
  margin: 1em 0;
}

select { width: 50%; }
textarea { min-height: 4rem; font-size: 1rem; }
.validationErrors { display: none; font-weight: normal; color: $webface_colors_red; } // nestui property, hidden by default
.field_with_errors, .field.errors { textarea, input[type=text], input[type=password], input[type=email] { @include text-field-with-errors }}

span#requirementField {
  display: block; width: 100%; font-size: 90%;
  &:before { content: "*"; color: $webface_colors_red; font-size: 100%; }
}

.requirementField label:after, h3.requirementField:after { content: ' *'; color: $webface_colors_red; }
