.modalWindow {
  position: fixed; z-index: 1000;
  .modal:before { content: ""; display: block; background: rgba(0,0,0,.2); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; }
  .modalDialog { 
    background-color: #fff; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 11; max-width: 30em; width: 100%; max-height: 85%; min-height: 5em; border-radius: 0.5em; padding: 2em; overflow: hidden; overflow-y: auto;
    img.close { width: 1em; position: absolute; top: 1em; right: 1em; cursor: pointer; }
   }
  .buttonContainer {
    float: right; margin-top: 2em;
    button { margin-left: 1em; }
  }
}
