.select {
  .selectBox {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf1f4+0,f4f6f7+51,e8ebed+100 */
    background: #edf1f4; /* Old browsers */
    background: -moz-linear-gradient(top,  #edf1f4 0%, #f4f6f7 51%, #e8ebed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #edf1f4 0%,#f4f6f7 51%,#e8ebed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #edf1f4 0%,#f4f6f7 51%,#e8ebed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf1f4', endColorstr='#e8ebed',GradientType=0 ); /* IE6-9 */
  }
}

.select, .editableSelect {
  font-weight: normal; font-size: 0.9rem; min-width: 5rem;
  max-width: 15rem; overflow: hidden;

  .hintTrigger { margin-top: 0.2em; float: right; }

  .arrow {
    height: 100%; width: 2em; display: flex; align-items: center; justify-content: flex-end; margin-right: -0.5em;
    img { width: 0.8rem; opacity: 0.5; }
  }

  .selectBox {
    border: solid 1px $webface_colors_light_gray; border-radius: 5px; display: flex; align-items: center;
    height: 1.7rem; box-sizing: content-box; padding: 0 1rem 0 0.8rem; cursor: pointer; z-index: 4; margin-bottom: 0px;

    img.ajaxIndicator, img.spinner { width: 0.8rem; opacity: 0.7; float: right; margin-right: 0.5rem; display: none; position: static; }
    .value { text-align: left; width: 100%; display: flex; max-height: 1.2rem; overflow: hidden; padding-right: 0.5em; }

    &.open {
      border-bottom: 0px; border-radius: 5px 5px 0 0;
      padding-bottom: 1px; position: relative;
    }

  }

  .optionsContainer {
    min-height: 5rem; background-color: #e8ebed; z-index: 3;
    position: absolute; border-radius: 0 0 5px 5px; border: solid 1px $webface_colors_light_gray;
    display: none; overflow: hidden; overflow-y: auto; margin-top: -1px;

    .option {
      padding: 0.3rem 0.8rem; cursor: pointer;
      &:hover { background-color: #D4D8DB; }
      &.focused { background-color: rgba(212, 216, 219, 0.7); }
    }
  }

  &:focus {
    outline-width: 0;
    .selectBox {
      border: solid 1px #939BA0;
      &.open {
        border-bottom: 0px; border-radius: 5px 5px 0 0;
      }
    }
    .optionsContainer {
      border: solid 1px #939BA0;
    }
  }

  &[disabled="disabled"], &.disabled {
    .selectBox, .selectBox:focus { background: #edf1f4; opacity: 0.5; color: $webface_colors_gray; border: solid 1px $webface_colors_light_gray; }
  }

  [data-component-part=option_template] { display: none; }

}

.editableSelect {
  .selectBox {
    background: #fff; filter: none; padding: 0 1rem 0 0.1rem;
    input[type=text], input[type=text]:hover { border: 0px; height: auto; }
  }
  .optionsContainer {
    background-color: #fff;
    .option {
      &:hover, &.focused { background-color: #EDF5F7; }
    }
    .noOptionsFoundMessage { display: none; color: $webface_colors_gray; max-width: 20em; padding: 1em; font-size: 80%; }
  }

  &:focus {

    outline-width: 0;
    .selectBox {
      border: solid 1px $webface_colors_light_gray;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .optionsContainer {
      border: solid 1px $webface_colors_light_gray;
    }

  }

  &.errors {
    input[type=text] { border: 0px; background-color: transparent; @include inset-box-shadow(#fff, 0px, 0px, 0px, 0px); }
    .selectBox { border: solid 1px $webface_colors_red; background-color: $webface_colors_pink; }
  }

  &[disabled="disabled"], &.disabled {
    .selectBox, .selectBox:focus { background: #edf1f4; opacity: 0.5; color: $webface_colors_gray; border: solid 1px $webface_colors_light_gray; }
  }

}

