#simple_notifications_container {
  position: fixed; width: 100%; height: 0px; z-index: 1000;
  margin-top: 0.5em;
}
.simpleNotification {
  display: none; float: right; margin-right: 0.5em; font-size: 0.8rem; clear: both; margin-bottom: 0.5em;
  background-color: $webface_colors_green; color: #fff; width: 30rem; border-radius: 7px; padding: 1em;

  .container {
    display: flex; height: auto; align-items: flex-start; justify-content: space-between;
    .message {
      flex-grow: 1; height: auto; width: 90%;
      a { color: #fff; }
    }
    img.close { width: 1rem; height: 1rem; display: block; cursor: pointer; flex-grow: 0; }
  }

  &.message-type-neutral { background-color: #C8D7DB; color: $webface_colors_text; .message a { color: $webface_colors_text; } }
  &.message-type-success, &.message-type-regular-notification &.message-type-optional-notification { background-color: $webface_colors_green; }
  &.message-type-warning,  &.message-type-immediate-notification { background-color: #D6A504; }
  &.message-type-critical, &.message-type-error { background-color: $webface_colors_red; }
}

@media screen and (max-width: 700px) {
  .simpleNotification {
    width: auto;
  }
}
