$webface_colors_text          : #546e7a;
$webface_colors_inverted_text : #fff;
$webface_colors_dark_text     : #000;

$webface_colors_link         : #0288d1;
$webface_colors_link_visited : #8f02d1;
$webface_colors_link_active  : #d10202;

$webface_colors_green        : #288e00;
$webface_colors_yellow       : #FFF5A1;
$webface_colors_light_yellow : #F5F1DA;
$webface_colors_dark_yellow :  #965800;
$webface_colors_red          : #BF2227;
$webface_colors_gray         : #98a5b0;
$webface_colors_light_gray   : #d0d7dd;
$webface_colors_gray_bgrnd   : #f6f7f9;
$webface_colors_pink         : #ffb8b8;
$webface_colors_salad        : #d4ffcc;
$webface_colors_blue         : #A9C0DB;
$webface_colors_blue_dark    : #035982;
$webface_colors_sky          : #DEF7FF;

$webface_colors_block        : #242424;
$webface_colors_block_border : #d0d7dd;
$webface_colors_yellow_block : #FFE4B5;
